---
import CustomerTable from '../../components/customers/CustomerTable';
import ButtonNavigation from '../../components/ui/ButtonNavigation
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Clientes">
  <main class="bg-slate-50 h-full w-full shadow-md rounded-md">
    <div class="flex flex-col h-full w-full p-4 space-y-4">
      <header class="flex py-4 px-4 justify-between">
        <h1 class="text-4xl font-bold">Listado de Clientes</h1>
        <ButtonNavigation
          class:list={'bg-blue-500'}
          route="/customers/new"
          icon={'../../../new-customer.svg'}
          title="Nuevo Cliente"
          active={false}
        />
      </header>
      <CustomerTable />
    </div>
  </main>
</Layout>

<style>
  main {
    font-size: 16px;
    color: #333;
  }
</style>
