---
import { Input } from '@nextui-org/input';
import { Button } from '@nextui-org/button';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Nuevo Cliente">
  <main class="bg-white h-full w-full shadow-lg rounded-lg">
    <div class="flex flex-col h-full w-full p-6 space-y-6">
      <header class="flex justify-start py-8 px-4">
        <h1 class="text-4xl font-bold text-gray-800">Nuevo Cliente</h1>
      </header>
      <div
        class="bg-white/50 px-4 py-4 flex justify-center items-center shadow-md rounded-lg"
      >
        <form class="bg-slate-50/50 px-10 py-8 w-full max-w-lg space-y-6 shadow-md rounded-lg">
          <Input
            type="text"
            label="Nombre"
            placeholder="Juan Pérez"
            labelPlacement="outside"
            class="block w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
            variant="bordered"
            validationState="valid"
            validationRegex="^[a-zA-Z\s]{3,}$"
          />
          <br />
          <Input
            type="text"
            label="Dirección"
            variant="bordered"
            placeholder="Av. Siempre Viva 742"
            labelPlacement="outside"
            class="block w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
            validationState="valid"
            validationRegex="^[\w\s\d]{5,}$"
          />
          <br />
          <Input
            type="tel"
            label="Teléfono"
            placeholder="123-456-7890"
            labelPlacement="outside"
            class="block w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
            variant="bordered"
            validationState="valid"
            validationRegex="^\d{3}-\d{3}-\d{4}$"
          />
          <br />
          <Input
            type="email"
            label="Email"
            variant="bordered"
            placeholder="you@example.com"
            labelPlacement="outside"
            class="block w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
            validationState="valid"
            validationRegex="^[^\s@]+@[^\s@]+\.[^\s@]+$"
          />
          <br />
          <Input
            type="text"
            label="DNI/RUC"
            variant="bordered"
            placeholder="1234567890"
            labelPlacement="outside"
            class="block w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
            validationState="valid"
            validationRegex="^\d{8,11}$"
          />
          <br />
          <div class="flex justify-between">
            <Button type="button" color="danger" class="w-full shadow-md" shadow rounded>
              Cancelar
            </Button>
            <Button type="submit" color="primary" class="w-full shadow-md" shadow rounded>
              Enviar
            </Button>
          </div>
        </form>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    font-size: 16px;
    color: #333;
  }
</style>
