---
import CustomersList from '../components/dashboard/CustomersList';
import InfoCardsSection from '../components/dashboard/InfoCardsSection';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dashboard">
  <main class="bg-slate-50 h-full w-full shadow-md rounded-lg">
    <div class="flex flex-col h-full w-full p-4 space-y-4">

      <header class="flex justify-start py-8 px-4">
        <h1 class="text-4xl font-bold">Dashboard</h1>
      </header>

      <InfoCardsSection />

      <section class="grid grid-cols-5 grid-rows-4 gap-4 h-full">

        <div class="bg-red-100 shadow-md p-4 rounded-md col-span-1 row-span-4">
          <CustomersList />
        </div>

        <div class="bg-blue-100 shadow-md p-4 rounded-md col-span-2 row-span-2 items-center flex">
          <img src="../../chart.png" alt="chart" class="w-full">
        </div>

        <div class="bg-green-100 shadow-md p-4 rounded-md col-span-2 row-span-4">
          Contenedor 3
        </div>

        <div class="bg-yellow-100 shadow-md p-4 rounded-md col-span-2 row-span-2">
          Contenedor 4
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  main {
    font-size: 16px;
    color: #333;
  }
</style>
