---
import Layout from "@/layouts/Layout.astro";
import InfoCardsSection from "@/components/dashboard/InfoCardsSection";
import CustomersList from "@/components/dashboard/CustomersList";
import ProductsList from "@/components/dashboard/ProductsList";
import hasProfile from "@/utils/profile";

const cookie: string = `${Astro.cookies.get(import.meta.env.COOKIE_NAME || "_Security_Login_")?.value}`;
const username = hasProfile(cookie).username as string;
const d = hasProfile(cookie);

if (d.success === false) {
  return Astro.redirect("/login");
}
---

<Layout title="Dashboard">
  <main class="bg-slate-50 h-full w-full shadow-md rounded-lg">
    <div class="flex flex-col h-full w-full p-4 space-y-4">

      <header class="flex justify-start py-8 px-4">
        <h1 class="text-4xl font-bold">Dashboard</h1>
      </header>

      <InfoCardsSection />

      <section class="grid grid-cols-5 grid-rows-4 gap-4 h-full">

        <div class="bg-red-100 shadow-md p-4 rounded-md col-span-1 row-span-4">
          <CustomersList />
        </div>

        <div class="bg-blue-100 shadow-md p-4 rounded-md col-span-2 row-span-2 items-center flex">
          <img src="../../chart.png" alt="chart" class="w-full">
        </div>

        <div class="bg-green-100 shadow-md p-4 rounded-md col-span-2 row-span-4 ">
          <img src="../../chart2.png" alt="chart2" class="w-full h-full object-cover">
        </div>

        <div class="bg-yellow-100 shadow-md p-4 rounded-md col-span-2 row-span-2">
          <ProductsList />
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  main {
    font-size: 16px;
    color: #333;
  }
</style>
