---
import LoginForm from '../components/login/LoginForm.astro';
import LoginLayout from '../layouts/LoginLayout.astro';
import hasProfile from "../utils/profile";

const cookie: string = `${Astro.cookies.get(import.meta.env.COOKIE_NAME || "_Security_Login_")?.value}`;
const d = hasProfile(cookie);

if (d.success === true) {
  return Astro.redirect("/");
}
---

<LoginLayout title="Login">
  <div class="max-w-screen-sm mx-auto bg-slate-200 p-8 mt-10 rounded-lg shadow-lg flex items-center justify-center flex-col container mb-4">
    <h1 class="text-3xl font-bold text-center py-4 mb-5">Iniciar Sesión</h1>
    <LoginForm />
  </div>
</LoginLayout>

<style>
  .container {
    font-family: 'Quicksand', sans-serif;
  }
</style>
