---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reportes">
  <main class="flex justify-center items-center h-full w-full shadow-md rounded-sm">Reportes</main>
</Layout>

<style>
  main {
    background-color: white;
    font-size: 24px;
    color: #333;
  }
</style>
