---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ventas">
  <main class="h-full w-full shadow-md rounded-md">
    <div class="bg-white flex flex-col h-full w-full p-4 space-y-4">
      <header class="flex justify-start py-8 px-4">
        <h1 class="text-xl font-bold">Ventas</h1>
      </header>
    </div>
  </main>
</Layout>

<style>
  main {
    background-color: white;
    font-size: 24px;
    color: #333;
  }
</style>
