---
interface Props {
  route: string;
  icon: string;
  title: string;
  active?: boolean;
}

const { route, icon, title, active = false } = Astro.props;
---

<li class={`space-x-2 h-12 px-4 py-2 ${active ? 'bg-blue-500 text-white' : 'bg-white text-gray-700'} rounded-md`}>
  <span class={`${active ? 'text-white' : 'text-gray-700'}`}>
    <img src={icon} alt={title} class={`${active ? 'filter invert' : ''}`} />
  </span>
  <a href={route} class={`text-base ${active ? 'text-white' : 'hover:text-blue-500'} flex-1 text-center`}>
    {title}
  </a>
</li>

<style>
  li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 16px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold
  }
</style>
