---
import Profile from './SidebarProfile.astro';
import SidebarNavigation from './SidebarNavigation.astro';
---

<div class="bg-slate-50 h-full w-80 shadow-lg p-4 flex flex-col">
  <Profile />
  <div class="mt-4">
    <ul class="space-y-3">
      <SidebarNavigation />
    </ul>
  </div>
</div>
