---
import ButtonNavigation from './ButtonNavigation.tsx';
import navigationData from '../../data/navigationData.json';
---

<div class="flex justify-center items-center py-8 border-b">
  <ul class="space-y-3 w-full">
    {
      navigationData.map((item) => (
        <ButtonNavigation client:visible
          route={item.route}
          icon={item.icon}
          title={item.title}
          active={item.route === Astro.url.pathname}
        />
      ))
    }
  </ul>
</div>
