---
import { Button, Input } from '@nextui-org/react';
import EmailInput from '@/src/components/ui/EmailInput';
---

<form
  action="/api/session"
  accept-charset="UTF-8"
  method="POST"
  class="container mx-auto p-6 bg-white rounded-lg shadow-lg flex flex-col items-center justify-center max-w-sm"
>
  <div class="mb-4 w-full">
    <Input
    type="email"
    label="Correo"
    variant="bordered"
    placeholder="Ingrese su correo"
    className="max-w-xs"
  />
  </div>
  <div class="mb-4 w-full">
    <Input
    type="password"
    label="Contraseña"
    variant="bordered"
    placeholder="Ingrese su contraseña"
    className="max-w-xs"
  />
  </div>
  <Button
    color="primary"
    type="submit"
    class="w-full bg-blue-500 text-white hover:bg-blue-600"
  >
    Ingresar
  </Button>
</form>