<form
  action="/logout"
  accept-charset="UTF-8"
  method="POST"
  class="w-full h-full mt-8 flex flex-col justify-between items-center"
>
  <div class="flex-1"></div>
  <button
    class="mb-8 justify-around flex select-none align-bottom gap-3 rounded-lg bg-pink-500 py-3 px-6 text-center  font-sans text-base font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    type="submit"
    data-ripple-light="true"
    >Cerrar Sesión
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      aria-hidden="true"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
    </svg>
  </button>
</form>

<style>
  button {
    width: 75%;
  }
</style>
