---
import ProductTable from '../../components/products/ProductTable';
import ButtonNavigation from '../../components/ui/ButtonNavigation'
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Productos">
  <main class="bg-slate-50 h-full w-full shadow-md rounded-md">
    <div class="flex flex-col h-full w-full p-4 space-y-4">
      <header class="flex py-4 px-4 justify-between">
        <h1 class="text-4xl font-bold">Listado de Productos</h1>
        <ButtonNavigation
          class:list={'bg-blue-500'}
          route="/products/new"
          icon={'../../../new-product.svg'}
          title="Nuevo Producto"
          active={false}
        />
      </header>
      <ProductTable />
    </div>
  </main>
</Layout>

<style>
  main {
    font-size: 24px;
    color: #333;
  }
</style>
